.articleHeader{
    background-color: whitesmoke;
    color: black;
    font-size: 2em;
}

#Content{
    margin-top: 1%;
}

#blogContainer{
    margin-top: 1%;
}   

.blogHeader{
    background-color: whitesmoke;
    color: black;
    font-size: 1.5em;
}

.blogs{
    align-self: center;
    width: 60%;
}

#blogOutline{
    margin-bottom: 1%;
    padding: 1%;
    padding-left: 0%;
}

#blogDate{
    font-size: 0.8em;
    margin-bottom: 1%;
}

#blogContent{
    font-size: 1em;
}

form, fieldset{
    border: 0px;
    padding: 0px;
    margin-top: 1%;
}

input, select{
    border: solid 2pt darkblue;
    height: 2em;
    border-radius: 8px;
}