#Content{
    display: grid;
    padding-top: 2%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      'Img Me'
      'Img Contact';
}

#article{
    grid-area: Me;
    max-width: 35rem;
}

#contact{
    grid-area: Contact;
}

figure{
    grid-area: Img;
}

.section{
    margin-top: 2%;
}

.articleImage{
    width: 100%;
    margin-left: 0.5rem;
    border-radius: 10%;
}

.articleHeader{
    background-color: whitesmoke;
    color: black;
    font-size: 1em;
}

figcaption{
    color: grey;
    padding-left: 10%;
    font-family: italic;
    text-size-adjust: 70%;
}

.icon{
    width: 100%;
    max-width: 160px;
    max-height: 160px;
    padding-right: 5%;
    border-radius: 20px;
    background-color: whitesmoke;
}

#icons{
    background-color: whitesmoke;
    padding-top: 5%;
}