.articleHeader{
    background-color: whitesmoke;
    color: black;
    font-size: 1em;
}

#Content{
    margin-left: 1em;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 10rem;
    grid-template-rows: auto;
    background-color: whitesmoke;
    grid-template-areas:
      'Experience Portfolio';
}

#Experience{
    grid-area: Experience;
}

.Head, .subHead{
    font-size: 1.5em;
}

.subHead{
    font-size: 1.2em;
    font-family: italic;
    color: grey;
}

#Portfolio{
    grid-area: Portfolio;
}

.portNAV{
    background-color: whitesmoke;
}

.portfolio, .experience{
    text-decoration: none;
    display: inline;
}

li{
    list-style-type: none;
}

.articleHeader{
    background-color: whitesmoke;
    color: black;
    font-size: 2em;
}

#links a:active, #links a:visited, #links a:link{
    color: darkblue;
}

.icon{
    width: 100%;
    max-width: 160px;
    max-height: 160px;
    padding-right: 5%;
    border-radius: 20px;
    background-color: whitesmoke;
}

#icons{
    background-color: whitesmoke;
    margin-top: 10%;
}